<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
  <listener class-name="reports.Extentreport"></listener>
  </listeners>
  <test thread-count="5" name="Test">
  
    <classes>
     
      <class name="testcase.SwagLabsTask"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
